<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>L-Systems</string>
	<key>Pages</key>
	<array>
		<string>Introduction.playgroundpage</string>
		<string>Generation.playgroundpage</string>
		<string>Angle.playgroundpage</string>
		<string>DragonCurve.playgroundpage</string>
		<string>End.playgroundpage</string>
		<string>Testpage.playgroundpage</string>
	</array>
</dict>
</plist>
